---

const {info} = Astro.props;

---

<div class="bg-white pb-6 rounded-md shadow-xl overflow-hidden hover:scale-105 transition-transform ">

    <div class="border-b-2 border-slate-200 overflow-hidden">
        <img src=`/mockups/${info.image}` alt="Project image" class="rounded" height="100%">
    </div>
        
    <div class="px-8">
        <div class="mt-2">
            <h2 class="text-xl font-bold text-slate-700 mb-2 select-none">{info.title}</h2>
            <p class="text-gray-500 select-none">{info.description}</p>
        </div>
        
        <div class="flex gap-4 mt-3">
            <a href={info.liveLink} target="_blank" class="flex justify-center items-center gap-2 link transition-all duration-200 border-b-2 border-transparent hover:border-gray-900 py-1">
                <span>Live demo</span>
                <box-icon name='up-arrow-alt' class=" rotate-45"></box-icon>
            </a>
            <a href={info.githubLink} target="_blank" class="flex justify-center items-center gap-2 link transition-all duration-200 border-b-2 border-transparent hover:border-gray-900 py-1">
                <span>Github</span>
                <box-icon name='github' type='logo' ></box-icon>
            </a>
        </div>
    </div>
</div>

